body{
    background-color: aquamarine;
}
.top{
    /* border: 1px solid; */
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    /* margin-top: 2%; */
    padding: 10px;
}
.lefttop{
    align-self: center;
    margin-left: 10%;
}
.righttop{
    /* border: 1px solid; */
    display: flex;
    margin-left: 50%;
    padding: 10px;
}
.righttop div{
    padding: 10px;
}
.main{
    border: 1px solid;
    margin: 10%;
    margin-bottom: initial;
    margin-top: initial;
    background-color: rgb(222, 226, 230);
    display: flex;
}
.main img{
    height: 40%;
    margin-top: 25%;
    margin-left: 25%;
    /* width: 60%; */
}
.main h1, p{
    margin-left: 25%;
}
.main{
    text-align: justify;
}
.gallaryDiv{
    /* border: 1px solid; */
    margin: 20%;
    margin-top: inherit;
    margin-bottom: inherit;
}
.gallaryDiv img{
    /* height: 10%; */
    width: 30%;
    margin: 1.5%;
}
.bottombar{
    display: flex;
    margin: 2%;
    background-color:  rgb(222, 226, 230);
}
.bottombar img{
    width: 8%;
    margin-left: 10%;
}
.socialmedia{
    /* border: 1px solid; */
    margin-left: 55%;
    /* margin-top: 0.6%; */
}
.socialmedia i{
    padding: 5px;
}